<div class="body">
  <div class="newsHead"><h3>News feed - {{selectedCarObject.name || 'Cars'}}</h3>Selection from Service - {{selectedCarFromService.name +' '+ selectedCarFromService.price || 'NA'}}</div>
  <div class="body container">
  <div class="newsContent marquee">
    <ul>
      <li> Car prices have increased </li>
      <li> fuel prices have dropped drastically </li>
      <li> Resale value of {{selectedCarObject.name || 'cars'}} is reduced by 2% </li>
      <li> Considerable rise in road traffic </li>
    </ul>
  </div>
  </div>
</div>